{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- assign trigger_mega_menu = false -%}
        {%- for block in section.blocks -%}
          {%- if block.type == 'mega_menu' and link.title == block.settings.trigger_link_name -%}
            {%- assign trigger_mega_menu = true -%}
          {%- endif -%}
        {%- endfor -%}

        {%- if trigger_mega_menu -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {% render 'icon-caret' %}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                {%- for block in section.blocks -%}
                  {%- if block.type == 'mega_menu' and link.title == block.settings.trigger_link_name -%}
                    <div class="menu-content">
                      <div class="menu-column">
                        <h3>{{ block.settings.mega_menu_title }}</h3>
                        <p>{{ block.settings.mega_menu_description }}</p>
                        <a href="{{ block.settings.mega_menu_button_link }}" class="button">{{ block.settings.mega_menu_button_text }}</a>
                      </div>
                      <div class="menu-products">
                        {%- for childlink in link.links -%}
                          {%- for subchildlink in childlink.links -%}
                            <div class="product-item">
                              <a href="{{ subchildlink.url }}">
                                <img src="{{ subchildlink.object.featured_image | img_url: 'medium' }}" alt="{{ subchildlink.title }}">
                                <h4>{{ subchildlink.object.title | escape }}</h4>
                                <p>{{ subchildlink.object.excerpt }}</p>
                              </a>
                            </div>
                          {%- endfor -%}
                        {%- endfor -%}
                      </div>
                    </div>
                  {%- endif -%}
                {%- endfor -%}
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
