<div
  class="product-recommendations"
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=8&intent=related"
>
  <div class="product_recommendation_wrapper container">
      {%- if recommendations.performed? and recommendations.products_count > 0 -%}
    {% if recommendations.intent == 'related' %}
      <h2>You may also like</h2>
    {% elsif recommendations.intent == 'complementary' %}
      <h2>Pair it with</h2>
    {% endif %}
      {%- assign responsive_ = section.settings.responsive | strip_newlines | json | remove: '\t' | remove: '\' | remove: ' '
        | replace: '"{"','{"' | replace: '}}"','}}' -%}
         {%- assign items_ = responsive_ | split: '"slidesPerView":' | last | split: ',' | first | plus: 0 -%}
        <swiper-slider>
        <div class="swiper recommendations-product-slider swiper-container mySwiper"
          data-dots="{{section.settings.use_dots}}" 
          data-nav = "{{section.settings.use_navigation}}"
          data-prev-el=".sw-btn-prev-{{section.id}}"
          data-next-el=".sw-btn-next-{{section.id}}" 
          data-pagination=".swiper-pagination-{{section.id}}"
          data-breakpoints='{{responsive_}}' 
          data-thumbs ="{{section.settings.use_thumnails}}"
          data-thumbs-id = ".swiper-thumbs-{{section.id}}"
          data-direction = "horizontal"
          data-autoplay = 'false'
          data-allow-touch-move = 'true'
          data-autoplay-delay = '4000'
        >
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            {%- for product in recommendations.products -%}
              
              <div class="swiper-slide recommendations_product_slide">
                <div class="recommendations_product">
                    <a href="{{ product.url }}">
                        <img
                          class="product__img"
                          src="{{ product.featured_image | image_url: width: 300, height: 300 }}"
                          alt="{{ product.featured_image.alt }}"
                        />
            
                        <p class="product__title">{{ product.title }}</p>
                        <p class="product__price">{{ product.price | money}}</p>
                      </a>
                </div>
              </div>
              
            {% endfor %}
            <!-- Slides -->
          </div>
             <div class="swiper-button-prev sw-btn-prev-{{section.id}}">
               <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
  <rect x="0.75" y="0.75" width="34.5" height="34.5" fill="white" stroke="black" stroke-width="1.5"/>
  <path d="M27.5303 18.5303C27.8232 18.2374 27.8232 17.7626 27.5303 17.4697L22.7574 12.6967C22.4645 12.4038 21.9896 12.4038 21.6967 12.6967C21.4038 12.9896 21.4038 13.4645 21.6967 13.7574L25.9393 18L21.6967 22.2426C21.4038 22.5355 21.4038 23.0104 21.6967 23.3033C21.9896 23.5962 22.4645 23.5962 22.7574 23.3033L27.5303 18.5303ZM9 18.75H27V17.25H9V18.75Z" fill="black"/>
</svg>
             </div>
            <div class="swiper-button-next sw-btn-next-{{section.id}}">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
  <rect x="0.75" y="0.75" width="34.5" height="34.5" fill="white" stroke="black" stroke-width="1.5"/>
  <path d="M27.5303 18.5303C27.8232 18.2374 27.8232 17.7626 27.5303 17.4697L22.7574 12.6967C22.4645 12.4038 21.9896 12.4038 21.6967 12.6967C21.4038 12.9896 21.4038 13.4645 21.6967 13.7574L25.9393 18L21.6967 22.2426C21.4038 22.5355 21.4038 23.0104 21.6967 23.3033C21.9896 23.5962 22.4645 23.5962 22.7574 23.3033L27.5303 18.5303ZM9 18.75H27V17.25H9V18.75Z" fill="black"/>
</svg>
            </div>
          <!-- If we need pagination -->
          <!-- <div class="swiper-pagination swiper-pagination-{{section.id}}"></div> -->
          <!-- If we need scrollbar -->
        </div>
     </swiper-slider>
  {%- endif -%}
  </div>
</div>
{% style %}
  .product-recommendations .container {
    /* max-width: 1320px; */
    width: 100%;
    margin: auto;
    padding: 3em 2em 1.5em;
    padding: 48px 0 40px 80px;
}
  .product-recommendations h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 1em;
}
   .product-recommendations .swiper-button-prev svg{
   transform: rotate(180deg);
  }
   .product-recommendations .swiper-button-prev,
   .product-recommendations .swiper-button-next
   {
       display:flex;
     }
  .recommendations_product .product__title {
    font-family: Crimson Text;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 12px;
    margin-top:10px;
}
   .recommendations_product .product__price {
     color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
   }
  
  .recommendations_product {
    text-align: center;
}
  @media (max-width: 767px) {
       .product-recommendations .swiper-button-prev,
   .product-recommendations .swiper-button-next
   {
    width: 28px;
   }
    .product-recommendations .container {
      padding: 2em 15px 1em; 
    }
  }
{% endstyle %}
{% javascript %}
  const handleIntersection = (entries, observer) => {
    if (!entries[0].isIntersecting) return;
    observer.unobserve(productRecommendationsSection);
    const url = productRecommendationsSection.dataset.url;
    fetch(url)
      .then(response => response.text())
      .then(text => {
        const html = document.createElement('div');
        html.innerHTML = text;
        const recommendations = html.querySelector('.product-recommendations');
        if (recommendations && recommendations.innerHTML.trim().length) {
          productRecommendationsSection.innerHTML = recommendations.innerHTML;
        }
      })
      .catch(e => {
        console.error(e);
      });
  };
  const productRecommendationsSection = document.querySelector('.product-recommendations');
  const observer = new IntersectionObserver(handleIntersection, {rootMargin: '0px 0px 200px 0px'});
  observer.observe(productRecommendationsSection);
{% endjavascript %}
{% schema %}
  {
    "name": "You May Also Like",
    "settings": [
       {
      "type": "checkbox",
      "id": "use_navigation",
      "label": "__Use navigation?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "use_thumnails",
      "label": "__Use thumbnails?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "use_dots",
      "label": "__Use dots?"
    },
    {
      "type": "textarea",
      "id": "responsive",
      "label": "== Responsive",
      "default": "{\n  \"0\": {\n    \"slidesPerView\": 2.5,\n    \"spaceBetween\": 10\n  },\n  \"1200\": {\n    \"slidesPerView\": 5,\n    \"spaceBetween\": 30\n  }\n}"
    }
    ],
    "presets":[
      {
        "name": "You May Also Like"
      }
    ]
  }
{% endschema %}