 <div class="category_collection_product {{ section.settings.custom_class }}">
       <div class="section_header container">
          {% if section.settings.main_heading != blank %}
           {{ section.settings.main_heading }}
          {% endif %}
          {% if section.settings.main_sub_heading != blank %}
           {{ section.settings.main_sub_heading }}
          {% endif %} 
        </div>
      <div class="container">
         <div class="slider-icons">
              {% if section.settings.use_navigation != blank %}
               <div class="swiper-button-prev sw-button-prev-{{section.id}}"><img src="https://cdn.shopify.com/s/files/1/0446/7677/6098/files/arrow.png?v=1720673566"></div>
               <div class="swiper-button-next sw-button-next-{{section.id}}"><img src="https://cdn.shopify.com/s/files/1/0446/7677/6098/files/arrow_1.png?v=1720673566"></div>
             {% endif %}
         </div>        

        {%- assign responsive_ = section.settings.responsive | strip_newlines | json | remove: '\t' | remove: '\' | remove: ' '
          | replace: '"{"','{"' | replace: '}}"','}}' -%}
           {%- assign items_ = responsive_ | split: '"slidesPerView":' | last | split: ',' | first | plus: 0 -%}
        <swiper-slider>
           <div class="swiper collection_swiper swiper-container"
            data-dots="{{section.settings.use_dots}}" 
            data-nav = "{{section.settings.use_navigation}}"
            data-prev-el=".sw-button-prev-{{section.id}}"
            data-next-el=".sw-button-next-{{section.id}}" 
            data-pagination=".swiper-pagination-{{section.id}}"
            data-breakpoints='{{responsive_}}' 
            data-thumbs ="{{section.settings.use_thumnails}}"
            data-thumbs-id = ".swiper-thumbs-{{section.id}}"
            data-direction = "horizontal"
             data-mousewheel= "true"
             data-allow-touch-move="true"
             
          >
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              {% for block in section.blocks %}
                <div class="swiper-slide">
                  <div class="product_block">
                    <a href="{{ block.settings.collection_url }}">
                       <div class="product_image ">
                         <img src="{{ block.settings.collection_image | img_url:'master' }}"> 
                         <p class="product-category">{{ block.settings.category_title }}</p>
                       </div>

                {% if block.settings.collection_button != blank %}
                        <a href="{{ block.settings.collection_url }}" class="collection_cta mob">{{ block.settings.collection_button }}</a>
                  {% endif %}
                    </a>  
                  </div>           
                </div>
              {% endfor %}
              <!-- Slides -->
            </div>
          
            
            {% if section.settings.use_dots != blank %}
             <!-- If we need pagination -->
              <div class="swiper-pagination swiper-pagination-{{section.id}}"></div>
             <!-- If we need scrollbar -->
            {% endif %}
           
          </div>
      </swiper-slider>
  </div>
</div>

{% style %}

#shopify-section-{{ section.id }}{
    padding-top: {{section.settings.padding_top}}px;
    padding-bottom:{{section.settings.padding_bottom}}px;
    background-color:{{section.settings.bg_color}};
} 
.category_collection_product .section_header{
    text-align:{{section.settings.head_align}};
}
.category_collection_product .container{
   position: relative;
}    

.category_collection_product .section_sub_header {
    margin-bottom: 45px;
}

.category_collection_product swiper-slider .swiper-slide {
    height: auto;
}

.category_collection_product .section_header h2,
.category_collection_product .section_header h1,
.category_collection_product .section_header h3,
.category_collection_product .section_header h5,
.category_collection_product .section_header h6,
.category_collection_product .section_header h4{
    color: {{section.settings.heading_color}};
    margin: 0;
    font-size: {{section.settings.header_base_size}}px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.category_collection_product .section_header h2 p {
    margin: 0;
}
.category_collection_product .product_block .product_image img{
  width:100%;
}
.category_collection_product .product-category{
    color: #322F2F;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;
    margin: 0;
    padding-top: 8px;
}

.category_collection_product .slider-icons .swiper-button-next,
.category_collection_product .slider-icons .swiper-button-prev{
    max-width: 40px;
    width: 100%;

}
.category_collection_product .slider-icons .swiper-button-next{
  right:20px;
}  
.category_collection_product .slider-icons .swiper-button-prev{
  left:20px;
}
.category_collection_product .slider-icons .swiper-button-next:after,
.category_collection_product .slider-icons .swiper-button-prev:after{
    display: none;
}

@media screen and (max-width:768px) {
   #shopify-section-{{ section.id }}{
      padding-top: {{section.settings.padding_top_mob}}px;
      padding-bottom:{{section.settings.padding_bottom_mob}}px;
    }
    .category_collection_product .slider-icons .swiper-button-next,
    .category_collection_product .slider-icons .swiper-button-prev{
          bottom: -83px;
          top: unset;
    }
    .category_collection_product .section_header h2,
    .category_collection_product .section_header h1,
    .category_collection_product .section_header h3,
    .category_collection_product .section_header h5,
    .category_collection_product .section_header h6,
    .category_collection_product .section_header h4{
        font-size: {{section.settings.header_base_size_mobile}}px;
        line-height: 24px;
        margin-bottom: 24px;
    }
    .category_collection_product .container{
      padding-right:0;
    }
    .category_collection_product .slider-icons .swiper-button-next{
        right:38%;
    }
  .category_collection_product .slider-icons .swiper-button-prev{
        left:38%;
    }
}

/* Optional css */
.category_collection_product {
   padding-top: 0px;
    -webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
{% endstyle %}
  
{% schema %}
 {
  "name": "Featured Categories",
  "settings": [
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "richtext",
      "id": "main_heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "main_sub_heading",
      "label": "Sub Heading"
    },
    {
      "type": "url",
      "id": "collection_url_desk",
      "label": "Collection URL Desk"
    },
    {
      "type": "text",
      "id": "collection_button_desk",
      "label": "Button Desktop"
    },
    {
      "type": "url",
      "id": "bottom_cta_url",
      "label": "Mobile Bottom CTA URL"
    },
    {
      "type": "header",
      "content": "Typography"
    },
    {
        "type": "range",
        "id": "header_base_size",
        "label": "Heading base size",
        "default": 26,
        "min": 20,
        "max": 100,
        "step": 1,
        "unit": "px"
    },
    {
      "type": "header",
      "content": "Typography Mobile"
    },
    {
        "type": "range",
        "id": "header_base_size_mobile",
        "label": "Heading base size",
        "default": 26,
        "min": 20,
        "max": 100,
        "step": 1,
        "unit": "px"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top Padding Desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom Padding Desktop",
      "default": 0,
      "min": 0,
      "step": 1,
      "max": 80
    },
    {
      "type": "range",
      "id": "padding_top_mob",
      "label": "Top padding Mobile",
      "min": 0,
      "max": 80,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mob",
      "label": "Bottom padding Mobile",
      "default": 0,
      "min": 0,
      "step": 1,
      "max": 100
    },
    {
      "type": "select",
      "id": "head_align",
      "label": "Head Alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centered"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "btn_text_color",
      "label": "Button Text"
    },
    {
      "type": "color",
      "id": "btn_color",
      "label": "Button Color"
    },
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "range",
      "id": "slide_per_view",
      "min": 0,
      "max": 20,
      "step": 1,
      "label": "Slide Per View",
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "use_navigation",
      "label": "__Use navigation?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "use_thumnails",
      "label": "__Use thumbnails?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "use_dots",
      "label": "__Use dots?"
    },
    {
      "type": "textarea",
      "id": "responsive",
      "label": "== Responsive",
      "default": "{\n  \"0\": {\n    \"slidesPerView\": 2.5,\n    \"spaceBetween\": 10\n  },\n  \"1200\": {\n    \"slidesPerView\": 5,\n    \"spaceBetween\": 30\n  }\n}"
    }
  ],
  "blocks": [
    {
      "name": "Collection Product",
      "type": "collection_product",
      "settings": [
        {
          "type": "image_picker",
          "id": "collection_image",
          "label": "Collection Image"
        },
        {
          "type": "text",
          "id": "category_title",
          "label": "Category Title"
        },
        {
          "type": "url",
          "id": "collection_url",
          "label": "Collection URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Categories",
      "settings": {}
    }
  ]
}
{% endschema %}