<div class="icon-text-section">
  <div class="icon-text-container {{ section.settings.custom_class }}">
    {% for block in section.blocks %}
      <div class="icon-text-block">
        {% if block.settings.icon != blank %}
          <img src="{{ block.settings.icon | img_url:'master' }}" class="icon" width="51px" height="51px">
        {% endif %}
        {% if block.settings.text != blank %}
          <p>{{ block.settings.text }}</p>
        {% endif %}
        {% if block.settings.description != blank %}
          <p class="block-description">{{ block.settings.description }}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% if section.settings.cta_text_1 != blank %}
      <div class="btn-container">
        <a href="{{ section.settings.cta_link_1 }}" class="btn">{{ section.settings.cta_text_1 }}</a>
        {% if section.settings.cta_text_2 != blank %}
          <a href="{{ section.settings.cta_link_2 }}">{{ section.settings.cta_text_2 }}</a>
        {% endif %}
      </div>
  {% endif %}
</div>

{% style %}
#shopify-section-{{ section.id }}{
    padding-top: {{section.settings.padding_top}}px;
    padding-bottom:{{section.settings.padding_bottom}}px;
    background-color:{{section.settings.bg_color}};
}
#shopify-section-{{ section.id }} .icon-text-section .icon-text-container .icon-text-block p{
    color:{{section.settings.text_color}};
    font-size:{{section.settings.font_size}}px;
  }
.icon-text-section{
    background-color:{{section.settings.bg_color}};
  }
.home-slideshow-sections .home-slideshow {
    padding-bottom: 0 !important;
}

.icon-text-section .icon-text-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.icon-text-section .icon-text-container .icon-text-block>img {
    max-width: 51px;
    width: 100%;
    display: block;
    margin: auto;
}

.icon-text-section .icon-text-container .icon-text-block p {
    margin-top: 15px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
}
.icon-text-section .icon-text-container .icon-text-block .block-description{
  color: #121212;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}

.icon-text-section .btn{
  background-color:{{section.settings.btn_bg}};
  max-width:{{section.settings.btn_width}}px;
}
.icon-text-section .btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 39px;
}
/* home brand section */
.home-brand.icon-text-container .icon-text-block img{
  max-width:151px;
}
.home-brand.icon-text-container{
  justify-content:center;
  gap: 100px;
}
@media screen and (max-width:767px) {
  #shopify-section-{{ section.id }}{
      padding-top: {{section.settings.padding_top_mob}}px;
      padding-bottom:{{section.settings.padding_bottom_mob}}px;
    }
   .icon-text-section .icon-text-container .icon-text-block {
        width: 50%;
        margin-bottom: 40px;
    }
  .icon-text-section .icon-text-container{
     flex-wrap: wrap;
    }
  /* feature section */
  .feature.icon-text-container .icon-text-block{
    width:100%;
  }
  /* home brand section */
  .home-brand.icon-text-container{
    flex-wrap:unset !important;
    gap: 20px;
    padding-top: 0;
    padding-bottom: 18px;
  }
  .home-brand.icon-text-container .icon-text-block{
    margin-bottom:0;
    width:33%;
  }
}
{% endstyle %}
{% schema %}
  {
    "name": "Icon with text",
    "settings": [
      {
        "type": "text",
        "id": "custom_class",
        "label": "Custom Class"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background"
      },
      {
      "type": "range",
      "id": "padding_top",
      "label": "Top Padding Desktop",
      "min":0,
      "max":80,
      "step": 1,
      "default":0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom Padding Desktop",
      "default": 0,
      "min":0,
      "step": 1,
      "max":80
    },
       {
      "type": "range",
      "id": "padding_top_mob",
      "label": "Top padding Mobile",
      "min":0,
      "max":80,
      "step": 1,
      "default":0
    },
    {
      "type": "range",
      "id": "padding_bottom_mob",
      "label": "Bottom padding Mobile",
      "default": 0,
      "min":0,
      "step": 1,
      "max":80
    },
      {
        "type": "range",
        "id": "font_size",
            "min": 12,
            "max": 24,
            "step": 1,
            "unit": "px",
            "label": "Font size",
            "default": 16
        },
       {
            "type": "color",
            "id": "text_color",
            "label": "Text Color"
      },
       {
        "type": "url",
        "id": "cta_link_1",
        "label": "Primary Button Link"
      },
      {
        "type": "text",
        "id": "cta_text_1",
        "label": "Primary Button Text"
      },
      {
            "type": "color",
            "id": "btn_bg",
            "label": "Button Color"
      },
      {
        "type": "text",
        "id": "btn_width",
        "label": "Button Size"
      },
      {
        "type": "url",
        "id": "cta_link_2",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "cta_text_2",
        "label": "Text"
      }
    ],
    "blocks":[
      {
        "type":"icon-block",
        "name":"Icon Block",
        "settings":[
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Text"
          }
        ]
      }
    ],
    "presets":[
      {
        "name": "Icon with text"
      }
    ]
  }
{% endschema %}