<div class="review">
  <div class="container">
    <div class="swiper review-slider">
      <div class="swiper-wrapper">
        <!-- Slides -->
          {% for block in section.blocks %}
            <div class="swiper-slide">
            {% capture img_col %}
              <div class="col img-col">
                {% if block.settings.slide_img != 'blank' %}
                    <img  src="{{ block.settings.slide_img | img_url: 'master' }}">
                {% endif %}
              </div>
            {% endcapture %}
            <div class="slide-content">
              {% if block.settings.sec_alignment == 'top' %}
                 {{ img_col }}
              {% endif %}
              <div class="col text-col">
                 {% if block.settings.review_txt != 'blank' %}
                  <h2 class="review_txt">{{ block.settings.review_txt }}</h2>
                {% endif %}
                 {% if block.settings.reviewer_name != 'blank' %}
                  <p class="reviewer_name">{{ block.settings.reviewer_name }}</p>
                {% endif %}
              </div>
                {% if block.settings.sec_alignment == 'bottom' %}
                 {{ img_col }}
                  
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
        <!-- If we need pagination -->
        <!-- <div class="swiper-pagination"></div> -->
          <!-- If we need navigation buttons -->
          <!-- <div class="swiper-button-prev swiper-btn">
            <img src="https://cdn.shopify.com/s/files/1/0691/3110/8565/files/Group_1484579828.png?v=1716879733" alt="prev Icon">
          </div>
          <div class="swiper-button-next swiper-btn">
            <img src="https://cdn.shopify.com/s/files/1/0691/3110/8565/files/Group_1484579829.png?v=1716879733" alt="Next Icon">
          </div> -->
        </div>
      </div>
</div>

{% schema %}
{
  "name": "review",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top padding Desktop",
      "min": 0,
      "max": 80,
      "step": 2,
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom padding Desktop",
      "default": 20,
      "min": 0,
      "step": 2,
      "max": 80
    },
    {
      "type": "range",
      "id": "padding_left",
      "label": "left padding Desktop",
      "min": 0,
      "max": 80,
      "step": 2,
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_right",
      "label": "right padding Desktop",
      "default": 20,
      "min": 0,
      "step": 2,
      "max": 80
    },

    {
      "type": "range",
      "id": "padding_top_mob",
      "label": "Top padding Mobile",
      "min": 0,
      "max": 80,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mob",
      "label": "Bottom padding Mobile",
      "default": 0,
      "min": 0,
      "step": 2,
      "max": 80
    },
    {
      "type": "color",
      "id": "background-color",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "slide_heading",
       "label": "Slide Heading"
    },
     {
      "type": "text",
      "id": "slide_description",
       "label": "Slide Description"
    }
    
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
         {
        "type": "select",
        "id": "sec_alignment",
        "label": "Section Alignment",
        "options": [
          {
            "value": "top",
            "label": "top"
          },
          {
            "value": "bottom",
            "label": "bottom"
          }
        ],
        "default": "top"
      },
        {
          "type": "image_picker",
          "id": "slide_img",
          "label": "Slide Image"
        },
        {
          "type": "text",
          "id": "review_txt",
          "label": "Review Text"
        },
        {
          "type": "text",
          "id": "reviewer_name",
          "label": "Reviewer Name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "review"
    }
  ]
}
{% endschema %}

{% style %}
#shopify-section-{{ section.id }}{
      padding-top: {{section.settings.padding_top}}px;
      padding-bottom:{{section.settings.padding_bottom}}px;
      background-color: {{section.settings.background-color}};
      padding-left:{{section.settings.padding_left}}px;
      padding-right:{{section.settings.padding_right}}px;
}
.review .container {
      overflow: hidden;
}
.review .slide-content{
    align-items: center;
    display: flex;
    gap: 40px;
}
.review .swiper.review-slider{
      padding-bottom: 35px;
}
.review .swiper-btn img {
  max-width: 50px;
  width: 100%;
}

  .review .swiper-btn::after {
  display: none;
  }
.review .swiper-button-prev {
  max-width: 35px;
  width: 100%;
}

.review .swiper-button-next {
  max-width: 35px;
  width: 100%;
}

.review .slide-content .col.text-col .review_txt{
     color: #000;
      text-align: center;
      font-family: Poppins;
      font-size: 16px;
      font-style: italic;
      font-weight: 400;
      line-height: 24px; /* 150% */
  }
   .review  .slide-content .col.text-col .reviewer_name{
     color: #333;
    font-family: "Acherus Grotesque";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-bottom: 0;
    margin-top: 15px;
  }
  
  .review .img-col{
      max-width: 100px;
  }
   .review .img-col>img{
     width:100%;
     
   }
  .review span.swiper-pagination-bullet-active{
        opacity: 0.5;
    background: #000;
    width: 30px;
    height: 3px;
    border-radius: unset;
  }
 .review span.swiper-pagination-bullet{
        width: 30px;
    height: 3px;
    border-radius: unset;
  }

  [id*="hp_benefit_slider"] .container .swiper-button-prev{
     left: 90px;
}
  [id*="hp_benefit_slider"] .container .swiper-button-next{
   right: 90px;
}
  @media(min-width:999px){
[id*="hp_benefit_slider"] .container .swiper-pagination {
   display:none;
}
    
}
    @media(max-width:768px){
        #shopify-section-{{ section.id }}{
      padding-top: {{section.settings.padding_top_mob}}px;
      padding-bottom:{{section.settings.padding_bottom_mob}}px;
    }
      .review .swiper-button-next,
      .review .swiper-button-prev{
        display:none;
      }
      .review .slide-content .col.text-col .reviewer_name{
            font-size: 14px;
      }
    }
{% endstyle %}

{% javascript %}
  function waitForSwiper(trigger) {
    var interval = setInterval(function () {
      if (typeof Swiper != 'undefined') {
        clearInterval(interval);
        trigger();
      }
    });
    setTimeout(function () {
      clearInterval(interval);
    }, 15000);
  }

  function conversionSlider() {
    var swiper = new Swiper('.review-slider', {
     
      loop: true,
      spaceBetween: 40,
      centeredSlides:true,
      breakpoints: {
        769: {
          slidesPerView: 1.9,
          autoplay: {
            delay: 2500, // Adjust the delay as needed (in milliseconds)
        },
          spaceBetween: 40,
           navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
             pagination: {
      el: '.swiper-pagination',
			clickable: false,
              }
          
        },
        0: {
          slidesPerView: 1.3,
              pagination: {
      el: '.swiper-pagination',
			clickable: true,
              }
         
        },
      },
    });
  }

  waitForSwiper(function () {
    conversionSlider();
  });
{% endjavascript %}
