<div class="page-width collection_tile">
  <div class="container-md">
    {% if section.settings.main_heading != blank %}
      <p class="main-heading">{{ section.settings.main_heading }}</p>
    {% endif %}
    {% if section.settings.subheading != blank %}
      <p class="sub-heading">{{ section.settings.subheading }}</p>
    {% endif %}
    <div class="display_container">

      {% for block in section.blocks %}
        <div class="collection_card {{ block.settings.custom_class }}" style="background-image:url('{{ block.settings.image_url | img_url:'master' }}');">
          <div class="content" style="text-align:{{ block.settings.content_alignment }}">
            {% if block.settings.heading != blank %}
              <h2>{{ block.settings.heading }}</h2>
            {% endif %}
            {% if block.settings.sub_head != blank %}
              <p>{{ block.settings.sub_head }}</p>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Collection Tile",
    "settings": [
      {
        "type": "color",
        "id": "section_background",
        "label": "Background"
      },
      {
        "type":"header",
        "content":"Section Header"
      },
      {
        "type": "text",
        "id": "main_heading",
        "label": "Main Heading"
      },
      {
        "type": "color",
        "id": "main_heading_color",
        "label": "Heading Color"
      },
      {
        "type": "range",
        "id": "main_heading_size",
        "label": "Heading Size",
        "max":100,
        "unit":"px",
        "min":10,
        "step":5,
        "default":40
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Description"
      },
      {
        "type": "color",
        "id": "sub_heading_color",
        "label": "sub Heading Color"
      },
      {
        "type": "range",
        "id": "sub_heading_size",
        "label": "Subheading Size",
        "max":100,
        "unit":"px",
        "min":10,
        "step":2,
        "default":18
      },
      {
        "type": "select",
        "id": "head_alignment",
        "label": "Header Position",
        "options":[
          {
            "value":"left",
            "label":"Left"
          },
          {
            "value":"center",
            "label":"Center"
          },
          {
            "value":"right",
            "label":"Right"
          }
        ],
        "default":"center"
      }
    ],
    "blocks": [
      {
        "name": "collection_card",
        "type": "section",
        "settings": [
          {
            "type": "text",
            "id": "custom_class",
            "label": "Custom Class"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "sub_head",
            "label": "Sub Heading"
          },
          {
            "type": "select",
            "id": "content_alignment",
            "label": "Content Position",
            "options":[
              {
                "value":"left",
                "label":"Left"
              },
              {
                "value":"center",
                "label":"Center"
              },
              {
                "value":"right",
                "label":"Right"
              }
            ],
            "default":"left"
          },
          {
            "type": "url",
            "id": "cta_url",
            "label": "Cta URL"
          }, {
            "type": "text",
            "id": "cta_text",
            "label": "CTA Text"
          }, {
            "type": "image_picker",
            "id": "image_url",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection Tile"
      }
    ]
  }
{% endschema %}


{% style %}
  #shopify-section-{{ section.id }}{
    background-color:{{section.settings.section_background}};
  }
  
  .collection_tile{
    padding-top: 41px;
    padding-bottom: 48px;
  }
  .collection_tile .display_container {
    display: flex;
    gap: 24px;
  }

  .collection_card img {
    width: 100%;
  }

  .collection_tile .main-heading {
    color: {{section.settings.main_heading_color}};
    font-size: {{section.settings.main_heading_size}}px;
    font-style: normal;
    font-weight: 350;
    margin-bottom: 16px;
    line-height:normal;
  }
  .collection_tile .sub-heading{
     color: {{section.settings.sub_heading_color}};
    font-size: {{section.settings.sub_heading_size}}px;
    font-family: "Gotham Regular";
     max-width: 704px;
    margin: auto;
     padding-bottom: 41px;
    line-height: 26px; 
  }
  .collection_tile .main-heading,
  .collection_tile .sub-heading{
    text-align: {{section.settings.head_alignment}};
  }
  .collection_card {
    width: 100%;
    border-radius: 16px;
    max-width: 292px;
        min-height: 351px;
    position:relative;
        background-repeat: no-repeat;
        background-size: cover;
  }
  .collection_card .content {
    padding: 16px;
    position: absolute;
    bottom: 0;
    height: fit-content;
    width:100%;
  }
  .collection_card .content h2 {
        color: #FFF;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
  }
  .collection_card .content p {
        color: #fff;
    font-size: 16px;
    font-weight: 325;
    line-height: 24px;
    font-family: "Gotham Regular";
  }

  @media(max-width: 768px) {
    .collection_tile .main-heading {
      font-size: 32px;
      font-weight:500;
    }
    .collection_tile .display_container {
      flex-direction: column;
    }
    /* .collection_tile{
      padding: 40px 20px;
    } */
    .collection_card{
      max-width:100%;
    }
  }
{% endstyle %}












