<div class="new-faq">
    <div class="faq-container Container">
        <div class="new-faq-main">
            {% if section.settings.new_faq_title != blank %}
                <h2>{{ section.settings.new_faq_title }}</h2>
            {% endif %}
            <div class="new-faq-wrapper">
                <div class="new-faq-left-side">
                    <div class="new-faq-inner">
                        {% for block in section.blocks %}
                            {% case block.type %}
                                {%- when 'left_faqs_head' -%}
                                {% if block.settings.title != blank %}
                                    <h3>{{ block.settings.title }}</h3>
                                {% endif %}
                            {% endcase %}
                        {% endfor %}
                        {% for block in section.blocks %}
                            {% case block.type %}
                                {%- when 'left_faqs' -%}
                                {% if block.settings.title != blank %}
                                <div class="new-faq-item">
                                    <div class="faq-item">
                                        <div class="faq-question">
                                            {{ block.settings.title }}
                                        </div>
                                        <div class="icon-container">
                                            <i class="button-up"></i>
                                        </div>
                                    </div>
                                    {% if block.settings.left_faqs_answer != blank %}
                                    <div class="faq-answer">
                                        {{ block.settings.left_faqs_answer }}
                                    </div>
                                    {% endif %}
                                </div>
                                {% endif %}
                            {% endcase %}
                        {% endfor %}
                    </div>
                </div>
                <div class="new-faq-right-side">
                    <div class="new-faq-inner">
                        {% for block in section.blocks %}
                            {% case block.type %}
                                {%- when 'right_faqs_head' -%}
                                {% if block.settings.title != blank %}
                                    <h3>{{ block.settings.title }}</h3>
                                {% endif %}
                            {% endcase %}
                        {% endfor %}
                        {% for block in section.blocks %}
                            {% case block.type %}
                                {%- when 'right_faqs' -%}
                                {% if block.settings.title != blank %}
                                <div class="new-faq-item">
                                    <div class="faq-item">
                                        <div class="faq-question">
                                            {{ block.settings.title }}
                                        </div>
                                        <div class="icon-container">
                                            <i class="button-up"></i>
                                        </div>
                                    </div>
                                    {% if block.settings.right_faqs_answer != blank %}
                                        <div class="faq-answer">
                                            {{ block.settings.right_faqs_answer }}
                                        </div>
                                    {% endif %}
                                </div>
                                {% endif %}
                            {% endcase %}
                        {% endfor %} 
                    </div>       
                </div>
            </div>
            {% if section.settings.new_faq_btn_text != blank %}
                <div class="new-faq-btn">
                    <a href="{{ section.settings.new_faq_btn_link }}">
                        {{ section.settings.new_faq_btn_text }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    (function () {
        const faqItems = document.querySelectorAll('.faq-item');

        faqItems.forEach(item => {
            const question = item.querySelector('.faq-question');
            const answer = item.nextElementSibling;
            const icon = item.querySelector('i');

            item.addEventListener('click', () => {
                faqItems.forEach(otherItem => {
                    if (otherItem !== item) {
                        const otherAnswer = otherItem.nextElementSibling;
                        const otherIcon = otherItem.querySelector('i');

                        otherAnswer.classList.remove('active');
                        otherIcon.classList.remove('active');
                        otherAnswer.style.maxHeight = "0";
                    }
                });

                    answer.classList.toggle('active');
                    icon.classList.toggle('active');
                    if (answer.classList.contains('active')) {
                      answer.style.maxHeight = answer.scrollHeight + "px";
                    } else {
                      answer.style.maxHeight = "0";
                    }
            });
        });
    })();
</script>

{% style %}
  /* styling start for new-faq*/
.new-faq-section .new-faq {
    padding: 50px 0;
}
.new-faq-section .new-faq-main h2 {
    font-family: SemplicitaPro;
    font-size: 42px;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
    color: #133233;
    margin-bottom: 40px;
}
.new-faq-section .new-faq-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    width: 100%;
}
.new-faq-section .new-faq-left-side,
.new-faq-section .new-faq-right-side {
    width: 50%;
}
.new-faq-section .new-faq-inner h3 {
    font-family: SemplicitaPro;
    font-size: 36px;
    font-weight: 600;
    line-height: 55.15px;
    text-align: left;
    color: #133233;
    margin-bottom: 10px;
}
.new-faq-section .faq-answer p {
    font-family: SemplicitaPro;
    font-size: 18px;
    font-weight: 500;
    line-height: 31px;
    text-align: left;
    color: #133233;
    padding: 15px 0;
}
.new-faq-section .button-up {
    position: relative;
}
.new-faq-section .button-up::after {
    content: "";
    position: absolute;
    left: 17px;
    z-index: 11;
    display: block;
    width: 13px;
    height: 13px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
}
.new-faq-section .button-up::after {
  top: 0px;
  left: 0;
  transform: rotate(45deg);
}
.new-faq-section .faq-item {
  padding: 20px 20px 20px 0;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new-faq-section .faq-item:last-child {
  border-bottom: none;
}
.new-faq-section .faq-question {
    font-family: SemplicitaPro;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
    color: #133233;
    text-align: left;
    padding-right: 60px;
}
.new-faq-section .faq-answer {
  font-size: 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.new-faq-section .faq-answer.active {
  border-bottom: 1px solid #e0e0e0;
}
.new-faq-section .icon-container i.button-up::after {
  top: -5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.new-faq-section .icon-container .button-up.active::after {
  transform: rotate(220deg);
}
.new-faq-section .new-faq-btn a {
    font-family: SemplicitaPro;
    font-size: 20px;
    font-weight: 600;
    line-height: 30.64px;
    text-align: center;
    max-width: 363px;
    /* height: 61px; */
    padding: 23px 0;
    display: block;
    margin: 0 auto;
    background: #133233;
    color: #fff;
    border-radius: 8px;
    margin-top: 50px;
}
@media screen and ( max-width: 767px ) {
    .new-faq-section .new-faq {
        padding: 30px 0;
    }
    .new-faq-section .new-faq-main h2 {
        margin-bottom: 30px;
        font-size: 34px;
        line-height: 50px;

    }
    .new-faq-section .new-faq-wrapper {
        gap: 50px;
        flex-direction: column;
    }
    .new-faq-section .new-faq-left-side,
    .new-faq-section .new-faq-right-side {
        width: 100%;
    }
    .new-faq-section .new-faq-inner h3 {
        margin-bottom: 10px;
        font-size: 26px;
        line-height: 39.83px;
    }
    .new-faq-section .faq-question {
        padding-right: 30px;
    }
}
/* styling end for new-faq */
{% endstyle %}

{% schema %}
    {
      "name": "two col faq",
      "class": "new-faq-section",
      "settings": [
        {
            "type": "header",
            "content": "Section Heading"
        },
        {
            "type": "text",
            "id": "new_faq_title",
            "label": "Heading",
            "default": "Frequently Asked Questions"
        },
        {
            "type": "header",
            "content": "Button"
        },
        {
            "type": "text",
            "id": "new_faq_btn_text",
            "label": "Button Text",
            "default": "See All FAQs"
        },
        {
            "type": "url",
            "id": "new_faq_btn_link",
            "label": "Button link"
        }
      ],
      "blocks": [
        {
          "type": "left_faqs_head",
          "name": "Left Side FAQ Head",
          "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "default": "Plans & Pricing"
            }
          ]
        },
        {
          "type": "left_faqs",
          "name": "Left Side FAQ",
          "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Question"
            },
            {
                "type": "richtext",
                "id": "left_faqs_answer",
                "label": "Answer"
            }
          ]
        },
        {
          "type": "right_faqs_head",
          "name": "Right Side FAQ Head",
          "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "default": "SHIPPING & DELIVERY"
            }
          ]
        },
        {
          "type": "right_faqs",
          "name": "Right Side FAQ",
          "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Question"
            },
            {
                "type": "richtext",
                "id": "right_faqs_answer",
                "label": "Answer"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "two col faq"
        }
      ]
    }
{% endschema %}

