<div class="big-world-cram-sec">
  <div class="big-world-wrapper">
    <h2 class="big-world-title">{{ section.settings.section_heading }}</h2>
    <div class="cram-features-wrapper">
      {% for block in section.blocks %}
        <div class="cram-feature">
          <div class="img">
            <img src="{{ block.settings.feature_image | img_url: 'master' }}" alt="{{ block.settings.feature_image.alt | escape }}">
          </div>
          <h4 class="feature-heading">{{ block.settings.feature_title }}</h4>
          <p>{{ block.settings.feature_description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Feature Section",
  "settings": [
    {
          "type": "text",
          "id": "section_heading",
          "label": "Title"
        }
  ],
  "blocks": [
    {
      "name": "Feature",
      "type": "feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "feature_image",
          "label": "Feature Image"
        },
        {
          "type": "text",
          "id": "feature_title",
          "label": "Feature Title"
        },
        {
          "type": "textarea",
          "id": "feature_description",
          "label": "Feature Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Feature Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% style %}
.big-world-cram-sec {
    padding: 80px 55px;
    background: var(--Color-London, #F4EBD3);
}
.big-world-cram-sec .big-world-wrapper .cram-features-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 68px; */
      flex-wrap: wrap;
    
}
.big-world-cram-sec .big-world-wrapper::before {
        content: "";
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 50%;
    background: url(https://cdn.shopify.com/s/files/1/0827/2317/6745/files/CRAM-secondary-logo-05_2_2x_ec730c13-5280-4b09-8b13-77f13d4022f8.png?v=1706698531) no-repeat;
    transform: translate(-50%, -50%);
    height: 200px;
        width: 50px;
    background-position: center center;
    background-size: contain;
}
.big-world-cram-sec .big-world-wrapper::after {
        content: "";
    position: absolute;
    top: 50%;
    right: -50px;
    bottom: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 50px;
    background-position: center center;
    background: url("https://cdn.shopify.com/s/files/1/0827/2317/6745/files/CRAM-secondary-logo-05_2_2x_ec730c13-5280-4b09-8b13-77f13d4022f8.png?v=1706698531") no-repeat; 
    background-size: contain;
}
.big-world-cram-sec .big-world-wrapper {
    max-width: 1176px;

    margin: auto;
    padding: 35px 68px 47px 68px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 40px;
    position: relative;
    background: var(--Color-Los-Angeles, #FCF9F5);
}

.big-world-cram-sec .big-world-wrapper .cram-features-wrapper .cram-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    text-align: center;
}
.big-world-cram-sec .big-world-wrapper .big-world-title{
    color: var(--Color-New-York-City, #111010);
    font-family: "GT Alpina";
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    padding-bottom: 32px;
  margin:0;
}
 .big-world-cram-sec .big-world-wrapper .img img{
    width:100%;
  }
  .big-world-cram-sec .big-world-wrapper .img{
    max-width: 52px;
  }
  .big-world-cram-sec .big-world-wrapper .cram-feature h4{
     font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.5px;
    margin: 0;
  }
  .big-world-cram-sec .big-world-wrapper .cram-feature p{
      font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    padding-top: 12px;
  }   
  @media (max-width:768px){
    .big-world-cram-sec .big-world-wrapper {
    padding: 38px 30px 54px;
    
}
    .big-world-cram-sec .big-world-wrapper .cram-features-wrapper .cram-feature{
      width:50%;
      padding-top: 32px;
    }
    .big-world-cram-sec .big-world-wrapper::before {
      content: "";
      position: absolute;
      background: url(https://cdn.shopify.com/s/files/1/0827/2317/6745/files/CRAM-secondary-logo-05_2_2x_ec730c13-5280-4b09-8b13-77f13d4022f8.png?v=1706698531) no-repeat;
      height: 131px;
   
      background-position: center center;
      background-size: contain;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
    }
    .big-world-cram-sec .big-world-wrapper::after {
      content: "";
      position: absolute;
      background: url(https://cdn.shopify.com/s/files/1/0827/2317/6745/files/CRAM-secondary-logo-05_2_2x_ec730c13-5280-4b09-8b13-77f13d4022f8.png?v=1706698531) no-repeat;
      height: 131px;
   
      background-position: center center;
      background-size: contain;
          top: 100%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
      
{% endstyle %}